
.contact-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    height: auto;
  }
  
  .contact-section h1 {
    text-align: center;
    color: #9d60f9;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    margin-top: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #6e278f;
    border-radius: 5px;
    box-sizing: border-box;
    background: #67188b;
  }
  